<% layout("/layout/boilerplate") %>
<style>
    #filter {
        display: flex;
        flex-wrap: wrap;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;

    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p {
        font-size: 0.8rem;
    }
    .tax-toogle{
        border: 1px solid black;
        border-radius: 10px;
        height: 2.25rem;
        padding: 5px 10px 5px 10px;
        margin: auto;
        text-align: center;
    }
    .gst{
        display: none;
    }
</style>
<div id="filter">
    <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>
    <div class="filter">
    <div><i class="fa-solid fa-bed"></i> </div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-building"></i></div>
            <p>Iconic city</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i> </div>
            <p>Mountains</p>
    </div>
    <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i> </div>
            <p>Castle</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-campground"></i> </div>
            <p>Camping</p>
    </div>
    <div class="filter">
        <div><i class="fa-solid fa-cow"></i> </div>
            <p>Farms</p>
    </div>
    <div class="filter">
        <div><i class="fa-regular fa-snowflake"></i> </div>
            <p>Arctic</p>
    </div>
    <div class="tax-toogle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after the taxes</label>
        </div>
    </div>
   
</div>
<body class="card-container">
    <!-- <h3>List of Hotels</h3> -->
<!-- 
    <form action="/new" method="get">
        <button>Add New Listing</button>
    </form> -->
    
    
    <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        
        <% for(let li of data) { %>
                <a href="/show/<%= li.id %>">
                    <div class="card">
                        <img src="<%= li.image.url %>" class="card-img-top" alt="Listing">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= li.title %></b> 
                                <br>
                                <b>Price: </b> &#8377; <i class="nogst"><%= li.price.toLocaleString("en-IN") %></i>
                                <i class="gst"><%= (li.price + (li.price*18)/100).toLocaleString("en-IN") %></i> /night
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>

        
    </div>
   
</body>
<script>
    let taxswitch = document.getElementById("flexSwitchCheckDefault");
    taxswitch.addEventListener("click", () => {
        let gst_info = document.getElementsByClassName("gst"); 
        let nogst_info = document.getElementsByClassName("nogst");
        
        for (let i = 0; i < gst_info.length; i++) { // Use < instead of >
            if (gst_info[i].style.display !== "inline") {
                nogst_info[i].style.display = "none"; 
                gst_info[i].style.display = "inline";
            } else {
                gst_info[i].style.display = "none";
                nogst_info[i].style.display = "inline"; 
            }
        }
        console.log("cli");
    });
</script>

